<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SV02 Landing Page</title>
</head>
<body>
  <mat-sidenav-container>
    
    <mat-sidenav #sidenav mode="side" [(opened)] = "opened" (opened)="events.push('open!')" style="width:200px">
      <!-- Sidenav content-> -->
      <h2>Links:</h2>
      <div>
        <a routerLink="/Landing" (click)="sidenav.toggle()">Landing</a>
      </div>
      <br>
      <div>
        <a routerLink="/Login" (click)="sidenav.toggle()">login</a>
      </div>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-raised-button (click)="sidenav.toggle()" color="primary">Menü</button>
        <span class="heading">Gesthuysen Center</span>
      </mat-toolbar>
      
      <!-- <button mat-button (click)="sidenav.toggle()"><h2>Menü</h2></button> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  

  
  </mat-sidenav-container>
  
</body>
</html>

